extends layout
block content
	.aboutPage
		.redBackground
		.redPattern
		.teeeeeeeeeemo
		.topBarWrapper
			.topBar
				a.topOption(href="/about").
					About
				a.topOption(href="/")#nemesisTop.
					URF Stats
				a.topOption(href="/nemesis").
					Nemesis