extends layout
block content
	script(defer="defer" src="/javascripts/URFDataPage.js")
	.URFStatsPage
		.redBackground
		.redPattern
		.teeeeeeeeeemo
		.topBarWrapper
			.topBar
				a.topOption(href="/about").
					About
				a.topOption(href="/URF")#nemesisTop.
					URF Stats
				a.topOption(href="/").
					Nemesis
		.topMiddleBarWrap
			.topMiddleBar
		.dataSectionOffset
			.searching.
				Searching...
			.dataSection
				input.searchBox(type="text" placeholder="Search a champion" autocomplete="on")
				.tableTitle.
					URF Champion Statistics
				.gamesAnalyzed
				.champTable