extends layout
block content
	script(defer="defer" src="/javascripts/URFDataPage.js")
	.URFStatsPage
		.redBackground
		.redPattern
		.teeeeeeeeeemo
		.topBarWrapper
			.topBar
				a.topOption(href="/about").
					About
				a.topOption(href="/")#nemesisTop.
					Nemesis
				a.topOption(href="/URF").
					URF Stats
		.dataSectionOffset
			.searching.
				Searching...
			.dataSection
				.tableTitle.
					URF Champion Statistics
				.gamesAnalyzed
				.champTable