extends layout
block content
	.aboutPage
		.redBackground
		.redPattern
		.teeeeeeeeeemo
		.topBarWrapper
			.topBar
				a.topOption(href="/about").
					About
				a.topOption(href="/")#nemesisTop.
					Nemesis
				a.topOption(href="/buddy").
					Buddy