/* 
This is the style sheet for the about page of the website 
@author Rhys Howell
*/

.aboutPage {
    // background-color: #F5F5F5;
    background: url('/images/white_wall_hash.png');  

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    min-height: 100%;

    text-align: center; 

    // font-family: "Cabin";
    font-family: 'MuseoSans300', sans-serif;

    color: white;

    z-index: -3;

    .accentText {
        color: $accent;
    }

    .whiteText {
        color: white;
    }

    .blackText {
        color: black;
    }

    .topGitHub {
        position: absolute;
        top: 0.5em;
        right: 1em;

        height: 3.7em;
        width: 3.7em;
    }

    .redBackground {
        background: -webkit-linear-gradient($accent1, $accent2); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient($accent1, $accent2); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient($accent1, $accent2); /* For Firefox 3.6 to 15 */
        background: linear-gradient($accent1, $accent2); /* Standard syntax */
        // background-color: $accent;
        // border-bottom: 1px solid $dark;
        box-shadow: 0px 0px 4px black;

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 4.7em;
        z-index: -3;
    }

    .redPattern {
        display: none;

        position: absolute;
        top: 16em;
        left: 0;

        width: 100%;
        height: 8px;
        z-index: -3;

        background: repeating-linear-gradient(
          45deg,
          $accent,
          $accent 1px,//10
          $dark 1px,//10
          $dark 2px
        );
    }

    .topBarWrapper {
        position: absolute;
        width: 100%;
        height: 100%;

        text-align: center;  

        z-index: -2;

        .topBar {
            margin-top: 1.7em;

            .topOption {
                display: inline-block;
                margin-left: 20px;
                margin-right: 20px;

                font-size: 16px;

                padding-bottom: 4px;
                padding-left: 4px;
                padding-right: 4px;
            }
            .topOption:hover {
                border-bottom: 2px solid white;
                cursor: pointer;
            }

            #nemesisTop {
                font-size: 18px;
            }
        }
    }

    .middleBody {
        position: absolute;
        left: 18%;
        top: 5em;

        width: 60%;

        color: $dark;

        .panel {
            margin-top: 2em;

            width: 100%;

            font-size: 1em;

            .panelTitle {
                position: absolute;

                left: 10%;
                font-size: 1.5em;

                color: $midnight-blue;
            }
            .panelContent {

                width: 80%;
                margin-left: 30%;

                text-align: left;

                line-height: 1.5em;

                .middleAlign {
                    vertical-align: middle;
                    height: 4em;

                    .linkClass {
                        color: $peter-river;

                        position: relative;
                        bottom: 1.5em;
                    }
                }
                .linkClass:hover {
                    color: $belize-hole;
                }

                .textLogo {
                    display: inline-block;

                    height: 4em;
                    width: auto;
                }

                .panelContentImage {
                    display: inline-block;

                    margin: 4px;

                    height: 22em;
                    width: auto;
                }
            }
        }
    }
}