/* Importing Google Webfonts */
/* Flat ui colors for reference */
/* Pallete currently in use */
/* START Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* END Reset CSS */
/* This file just holds font families for use in the styling @author Rhys */
@font-face {
  font-family: 'Cabin';
  src: url('/fonts/Cabin-Regular.ttf') format("truetype"); }

@font-face {
  font-family: 'Cabin-Bold';
  src: url('/fonts/Cabin-Bold.ttf') format("truetype"); }

@font-face {
  font-family: 'Blenda';
  src: url('/fonts/Blenda-Script.otf'); }

@font-face {
  font-family: 'MuseoSans300';
  src: url('/fonts/MuseoSans300.otf'); }

@font-face {
  font-family: 'MuseoSans500';
  src: url('/fonts/MuseoSans500.otf'); }

/* 
This is the style sheet for the main landing page of the website 
@author Rhys Howell
*/
.landingPage {
  background: url('/images/white_wall_hash.png');
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'MuseoSans300', sans-serif;
  color: white;
  z-index: -3; }
  .landingPage .accentText {
    color: #e74c3c; }
  .landingPage .whiteText {
    color: white; }
  .landingPage .blackText {
    color: black; }
  .landingPage .topGitHub {
    position: absolute;
    top: 0.5em;
    right: 1em;
    height: 3.7em;
    width: 3.7em; }
  .landingPage .redBackground {
    background: -webkit-linear-gradient(#FF3B30, #FF2D55);
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FF3B30, #FF2D55);
    /* Standard syntax */
    box-shadow: 0px 0px 4px black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.7em;
    z-index: -3; }
  .landingPage .redPattern {
    display: none;
    position: absolute;
    top: 16em;
    left: 0;
    width: 100%;
    height: 8px;
    z-index: -3;
    background: -webkit-repeating-linear-gradient(45deg, #e74c3c, #e74c3c 1px, #290E03 1px, #290E03 2px);
    background: repeating-linear-gradient(45deg, #e74c3c, #e74c3c 1px, #290E03 1px, #290E03 2px); }
  .landingPage .teemoWrap {
    position: absolute;
    top: 8em;
    left: 50%;
    height: 0;
    width: 0;
    text-align: center; }
    .landingPage .teemoWrap .teeeeeeeeeemo {
      position: absolute;
      top: 0;
      left: -2em;
      background: url('/images/evilteemo.png');
      background-size: 4em;
      height: 4em;
      width: 4em; }
  .landingPage .topBarWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: -2; }
    .landingPage .topBarWrapper .topBar {
      margin-top: 1.7em; }
      .landingPage .topBarWrapper .topBar .topOption {
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 16px;
        padding-bottom: 4px;
        padding-left: 4px;
        padding-right: 4px; }
      .landingPage .topBarWrapper .topBar .topOption:hover {
        border-bottom: 2px solid white;
        cursor: pointer; }
      .landingPage .topBarWrapper .topBar #nemesisTop {
        font-size: 18px; }
  .landingPage .middleArea {
    position: absolute;
    left: 0;
    top: 12em;
    width: 100%;
    z-index: -1;
    color: #FF3B30; }
    .landingPage .middleArea .steps {
      position: absolute;
      height: 300px;
      width: 300px;
      top: 18%;
      left: 50%;
      z-index: -1; }
    .landingPage .middleArea .horns {
      width: 15%;
      height: 40px;
      z-index: -1;
      background: url('/images/nemesis.png') no-repeat scroll center center transparent;
      background: url('/images/nemesis.png') no-repeat scroll center top/cover transparent; }
    .landingPage .middleArea .searchTitle {
      font-size: 24px;
      margin-bottom: 8px;
      font-family: 'MuseoSans500', sans-serif; }
    .landingPage .middleArea #searchForm .searchBox {
      outline: none;
      border: none;
      border: 1px solid #DDDDDD;
      border-radius: 2px 0px 0px 2px;
      height: 22px;
      width: 300px;
      padding-left: 6px;
      font-size: 12px; }
    .landingPage .middleArea #searchForm .searchBox:focus {
      box-shadow: 0 0 2px #4c82ef; }
    .landingPage .middleArea #searchForm .searchButton {
      border: none;
      outline: none;
      background: none;
      background-color: white;
      border: 1px solid #ECF0F1;
      border-radius: 0px 4px 4px 0px;
      height: 26px;
      font-size: 12px;
      width: 60px; }
    .landingPage .middleArea #searchForm .searchButton:hover {
      cursor: pointer;
      box-shadow: inset 0px 1px 2px 0px #ECF0F1; }
    .landingPage .middleArea #searchForm .searchButton:active {
      box-shadow: inset 0px 1px 2px 0px #BDC3C7; }
    .landingPage .middleArea .searchDescription {
      margin-top: 14px;
      font-size: 14px; }
  .landingPage .bodyArea {
    position: absolute;
    top: 19em;
    left: 0;
    width: 100%; }
    .landingPage .bodyArea .resultText {
      color: black; }

/* 
This is the style sheet for the about page of the website 
@author Rhys Howell
*/
.aboutPage {
  background: url('/images/white_wall_hash.png');
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  text-align: center;
  font-family: 'MuseoSans300', sans-serif;
  color: white;
  z-index: -3; }
  .aboutPage .accentText {
    color: #e74c3c; }
  .aboutPage .whiteText {
    color: white; }
  .aboutPage .blackText {
    color: black; }
  .aboutPage .topGitHub {
    position: absolute;
    top: 0.5em;
    right: 1em;
    height: 3.7em;
    width: 3.7em; }
  .aboutPage .redBackground {
    background: -webkit-linear-gradient(#FF3B30, #FF2D55);
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FF3B30, #FF2D55);
    /* Standard syntax */
    box-shadow: 0px 0px 4px black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.7em;
    z-index: -3; }
  .aboutPage .redPattern {
    display: none;
    position: absolute;
    top: 16em;
    left: 0;
    width: 100%;
    height: 8px;
    z-index: -3;
    background: -webkit-repeating-linear-gradient(45deg, #e74c3c, #e74c3c 1px, #290E03 1px, #290E03 2px);
    background: repeating-linear-gradient(45deg, #e74c3c, #e74c3c 1px, #290E03 1px, #290E03 2px); }
  .aboutPage .topBarWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: -2; }
    .aboutPage .topBarWrapper .topBar {
      margin-top: 1.7em; }
      .aboutPage .topBarWrapper .topBar .topOption {
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 16px;
        padding-bottom: 4px;
        padding-left: 4px;
        padding-right: 4px; }
      .aboutPage .topBarWrapper .topBar .topOption:hover {
        border-bottom: 2px solid white;
        cursor: pointer; }
      .aboutPage .topBarWrapper .topBar #nemesisTop {
        font-size: 18px; }
  .aboutPage .middleBody {
    position: absolute;
    left: 18%;
    top: 5em;
    width: 60%;
    color: #290E03; }
    .aboutPage .middleBody .panel {
      margin-top: 2em;
      width: 100%;
      font-size: 1em; }
      .aboutPage .middleBody .panel .panelTitle {
        position: absolute;
        left: 10%;
        font-size: 1.5em;
        color: #2C3E50; }
      .aboutPage .middleBody .panel .panelContent {
        width: 80%;
        margin-left: 30%;
        text-align: left;
        line-height: 1.5em; }
        .aboutPage .middleBody .panel .panelContent .middleAlign {
          vertical-align: middle;
          height: 4em; }
          .aboutPage .middleBody .panel .panelContent .middleAlign .linkClass {
            color: #3498DB;
            position: relative;
            bottom: 1.5em; }
        .aboutPage .middleBody .panel .panelContent .linkClass:hover {
          color: #2980B9; }
        .aboutPage .middleBody .panel .panelContent .textLogo {
          display: inline-block;
          height: 4em;
          width: auto; }
        .aboutPage .middleBody .panel .panelContent .panelContentImage {
          display: inline-block;
          margin: 4px;
          height: 22em;
          width: auto; }

.URFStatsPage {
  /* Background pattern from subtlepatterns.com */
  background: url('/images/white_wall_hash.png');
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  text-align: center;
  font-family: 'MuseoSans300', sans-serif;
  color: white;
  z-index: -3; }
  .URFStatsPage .topGitHub {
    position: absolute;
    top: 0.5em;
    right: 1em;
    height: 3.7em;
    width: 3.7em; }
  .URFStatsPage .accentText {
    color: #e74c3c; }
  .URFStatsPage .whiteText {
    color: white; }
  .URFStatsPage .blackText {
    color: black; }
  .URFStatsPage .redBackground {
    background: -webkit-linear-gradient(#FF3B30, #FF2D55);
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FF3B30, #FF2D55);
    /* Standard syntax */
    box-shadow: 0px 0px 4px black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.7em;
    z-index: -3; }
  .URFStatsPage .redPattern {
    display: none;
    position: absolute;
    top: 16em;
    left: 0;
    width: 100%;
    height: 8px;
    z-index: -3;
    background: -webkit-repeating-linear-gradient(45deg, #e74c3c, #e74c3c 1px, #290E03 1px, #290E03 2px);
    background: repeating-linear-gradient(45deg, #e74c3c, #e74c3c 1px, #290E03 1px, #290E03 2px); }
  .URFStatsPage .topBarWrapper {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2; }
    .URFStatsPage .topBarWrapper .topBar {
      margin-top: 1.7em; }
      .URFStatsPage .topBarWrapper .topBar .topOption {
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 16px;
        padding-bottom: 4px;
        padding-left: 4px;
        padding-right: 4px; }
      .URFStatsPage .topBarWrapper .topBar .topOption:hover {
        border-bottom: 2px solid white;
        cursor: pointer; }
      .URFStatsPage .topBarWrapper .topBar #nemesisTop {
        font-size: 18px; }
  .URFStatsPage .topMiddleBarWrap {
    display: none;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 1.7em;
    z-index: -3; }
    .URFStatsPage .topMiddleBarWrap .topMiddleBar {
      background-color: #F5F5F5;
      z-index: 3;
      position: absolute;
      top: -6px;
      left: -14px;
      width: 3px;
      height: 28px; }
  .URFStatsPage .searching {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 14em;
    text-align: center;
    color: #FF2D55;
    z-index: 100; }
  .URFStatsPage .dataSectionOffset {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 0;
    text-align: center; }
    .URFStatsPage .dataSectionOffset .dataSection {
      position: absolute;
      width: 1000px;
      left: -500px;
      top: 6em;
      text-align: center;
      background-color: white;
      border-radius: 4px;
      box-shadow: 0 0 2px #BDC3C7;
      margin-bottom: 20px;
      padding-bottom: 10px; }
      .URFStatsPage .dataSectionOffset .dataSection .searchBox {
        position: absolute;
        right: 6%;
        top: 24px;
        outline: none;
        border: none;
        border: 1px solid #DDDDDD;
        border-radius: 5px;
        height: 20px;
        width: 200px;
        padding-left: 6px;
        font-size: 12px; }
      .URFStatsPage .dataSectionOffset .dataSection .searchBox:focus {
        box-shadow: 0 0 2px #3498DB; }
      .URFStatsPage .dataSectionOffset .dataSection .searchButton {
        text-indent: -9999em; }
      .URFStatsPage .dataSectionOffset .dataSection .gamesAnalyzed {
        position: absolute;
        left: 8%;
        top: 30px;
        font-size: 18px;
        color: #3498DB; }
      .URFStatsPage .dataSectionOffset .dataSection .tableTitle {
        color: #2C3E50;
        font-size: 24px;
        margin-top: 20px; }
      .URFStatsPage .dataSectionOffset .dataSection .champTable {
        z-index: 1;
        color: #290E03;
        margin-top: 12px;
        width: 100%; }
        .URFStatsPage .dataSectionOffset .dataSection .champTable table {
          width: 94%;
          margin-left: 3%; }
          .URFStatsPage .dataSectionOffset .dataSection .champTable table tr {
            width: 100%;
            border-bottom: 1px solid #ECF0F1; }
            .URFStatsPage .dataSectionOffset .dataSection .champTable table tr .tableColTitle {
              color: #2C3E50; }
            .URFStatsPage .dataSectionOffset .dataSection .champTable table tr .tableColTitle:hover {
              cursor: pointer;
              color: #2980B9; }
            .URFStatsPage .dataSectionOffset .dataSection .champTable table tr .tableColTitle:active {
              color: #3498DB; }
            .URFStatsPage .dataSectionOffset .dataSection .champTable table tr .swapImage {
              display: inline-block;
              z-index: 105;
              width: 12px;
              height: 12px;
              margin-top: 2px;
              margin-left: 2px;
              background: url('/images/sort35.png');
              background-size: 12px 12px; }
            .URFStatsPage .dataSectionOffset .dataSection .champTable table tr .swapImage.hover {
              background: url('/images/sort35blue.png');
              background-size: 12px 12px; }
            .URFStatsPage .dataSectionOffset .dataSection .champTable table tr .champImg {
              position: absolute;
              left: 30px;
              padding-top: 2px;
              width: 28px;
              height: 28px;
              border-radius: 50%; }
            .URFStatsPage .dataSectionOffset .dataSection .champTable table tr td {
              font-size: 20px; }
          .URFStatsPage .dataSectionOffset .dataSection .champTable table tr > td {
            padding-bottom: 8px;
            padding-top: 8px; }

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none; }
