/* Importing Google Webfonts */
/* Flat ui colors for reference */
/* Pallete currently in use */
/* START Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* END Reset CSS */
/* This file just holds font families for use in the styling @author Rhys */
@font-face {
  font-family: 'Cabin';
  src: url('/fonts/Cabin-Regular.ttf') format("truetype"); }

@font-face {
  font-family: 'Cabin-Bold';
  src: url('/fonts/Cabin-Bold.ttf') format("truetype"); }

@font-face {
  font-family: 'Blenda';
  src: url('/fonts/Blenda-Script.otf'); }

@font-face {
  font-family: 'MuseoSans300';
  src: url('/fonts/MuseoSans300.otf'); }

@font-face {
  font-family: 'MuseoSans500';
  src: url('/fonts/MuseoSans500.otf'); }

/* 
This is the style sheet for the main landing page of the website 
@author Rhys Howell
*/
.landingPage {
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'MuseoSans300', sans-serif;
  color: white;
  z-index: -3; }
  .landingPage .accentText {
    color: #e74c3c; }
  .landingPage .whiteText {
    color: white; }
  .landingPage .blackText {
    color: black; }
  .landingPage .redBackground {
    background-color: #e74c3c;
    box-shadow: 0px 0px 4px black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 16em;
    z-index: -3; }
  .landingPage .redPattern {
    display: none;
    position: absolute;
    top: 16em;
    left: 0;
    width: 100%;
    height: 8px;
    z-index: -3;
    background: -webkit-repeating-linear-gradient(45deg, #e74c3c, #e74c3c 1px, #290E03 1px, #290E03 2px);
    background: repeating-linear-gradient(45deg, #e74c3c, #e74c3c 1px, #290E03 1px, #290E03 2px); }
  .landingPage .teeeeeeeeeemo {
    position: absolute;
    bottom: 0;
    right: 0;
    background: url('/images/evilteemo.png');
    background-size: 16em;
    height: 16em;
    width: 16em; }
  .landingPage .topBarWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: -2; }
    .landingPage .topBarWrapper .topBar {
      margin-top: 3em; }
      .landingPage .topBarWrapper .topBar .topOption {
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 16px;
        padding-bottom: 4px;
        padding-left: 4px;
        padding-right: 4px; }
      .landingPage .topBarWrapper .topBar .topOption:hover {
        border-bottom: 2px solid white;
        cursor: pointer; }
      .landingPage .topBarWrapper .topBar #nemesisTop {
        font-size: 20px; }
  .landingPage .middleArea {
    position: absolute;
    left: 0;
    top: 10em;
    width: 100%;
    z-index: -1; }
    .landingPage .middleArea .steps {
      position: absolute;
      height: 300px;
      width: 300px;
      top: 18%;
      left: 50%;
      z-index: -1; }
    .landingPage .middleArea .horns {
      width: 15%;
      height: 40px;
      z-index: -1;
      background: url('/images/nemesis.png') no-repeat scroll center center transparent;
      background: url('/images/nemesis.png') no-repeat scroll center top/cover transparent; }
    .landingPage .middleArea .searchTitle {
      font-size: 24px;
      margin-bottom: 8px;
      font-family: 'MuseoSans500', sans-serif; }
    .landingPage .middleArea #searchForm .searchBox {
      outline: none;
      border: none;
      border: 1px solid #ECF0F1;
      border-radius: 2px 0px 0px 2px;
      height: 22px;
      width: 300px;
      padding-left: 6px;
      font-size: 12px; }
    .landingPage .middleArea #searchForm .searchBox:focus {
      box-shadow: 0 0 2px #4c82ef; }
    .landingPage .middleArea #searchForm .searchButton {
      border: none;
      outline: none;
      background: none;
      background-color: white;
      border: 1px solid #ECF0F1;
      border-radius: 0px 4px 4px 0px;
      height: 26px;
      font-size: 12px;
      width: 60px; }
    .landingPage .middleArea #searchForm .searchButton:hover {
      cursor: pointer;
      box-shadow: inset 0px 1px 2px 0px #ECF0F1; }
    .landingPage .middleArea #searchForm .searchButton:active {
      box-shadow: inset 0px 1px 2px 0px #BDC3C7; }
    .landingPage .middleArea .searchDescription {
      margin-top: 14px;
      font-size: 14px; }
  .landingPage .bodyArea {
    position: absolute;
    top: 19em;
    left: 0;
    width: 100%; }
    .landingPage .bodyArea .resultText {
      color: black; }

/* 
This is the style sheet for the about page of the website 
@author Rhys Howell
*/
.aboutPage {
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'MuseoSans300', sans-serif;
  color: white;
  z-index: -3; }
  .aboutPage .accentText {
    color: #e74c3c; }
  .aboutPage .whiteText {
    color: white; }
  .aboutPage .blackText {
    color: black; }
  .aboutPage .redBackground {
    background-color: #e74c3c;
    box-shadow: 0px 0px 4px black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7em;
    z-index: -3; }
  .aboutPage .topBarWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: -2; }
    .aboutPage .topBarWrapper .topBar {
      margin-top: 3em; }
      .aboutPage .topBarWrapper .topBar .topOption {
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 16px;
        padding-bottom: 4px;
        padding-left: 4px;
        padding-right: 4px; }
      .aboutPage .topBarWrapper .topBar .topOption:hover {
        border-bottom: 2px solid white;
        cursor: pointer; }
      .aboutPage .topBarWrapper .topBar #nemesisTop {
        font-size: 20px; }

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none; }
